body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.day-names, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-names div, .days .day {
    width: calc(100% / 7 - 4px);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.days .day.empty {
    background-color: #f5f5f5;
}
.day.session {
      color: orange;
      font-weight: bold;
}
.set-container {
      display: flex;
      align-items: center;
      height: 30px;
      justify-content: center; /* 컨테이너를 가운데 정렬 */
      padding: 3px 0;
    }
   .set-description {
      margin-right: 5px; /* 세트와 버튼 사이의 간격 */
      white-space: nowrap; /* 줄 바꿈 방지 */
      text-align: center; /* 텍스트 중앙 정렬 */
    }
    .delete-set-button {
      background-color: #f8d7da;
      border: none;
      color: #721c24;
      padding: 3px 6px;
      width: 20px;
      cursor: pointer;
      font-size: 12px;
    }
.delete-exercise-button {
      background-color: #f8d7da;
      border: none;
      color: #721c24;
      padding: 3px 6px;
      width: 70px;
      cursor: pointer;
      font-size: 12px;
    }
.text-red{
    color: red;
}
.text-blue {
    color: blue;
}
.text-black {
    color: black;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.add-set {
    background: #007BFF;
    width: 140px;
}

button.submit {
    background: #007BFF;
}

button.add-set:hover {
    background: red;
}

button.back {
    background: #28a745;
    width: 140px;
}

button.back:hover {
    background: red;
}

button.login {
    background: #007BFF;
    width: 140px;
}

button.login:hover {
    background: red;
}

button.signup {
    background: #28a745;
    width: 140px;
}

button.signup:hover {
    background: red;
}

div a button {
    margin-top: 10px;
}

.logout-button {
    background: #28a745;
    font-size: 9px;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: red;
    border-color: #bbb;
}
.copy-button {
    background: blue;
    font-size: 9px;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: red;
    border-color: #bbb;
}

a {
    display: block;
    text-align: center;
    color: #007BFF;
}
.add-set-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 120px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.add-set-button:hover {
  background-color: red;
}
.add-wsession-button {
  background-color: #0056b3;
  color: white;
  border: none;
  width: 140px !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.add-wsession-button:hover {
  background-color: red;
}
.add-exercise-button {
  background-color: orange;
  color: white;
  border: none;
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.add-exercise-button:hover {
  background-color: red;
}
.multi-select-container {
    display: flex;
    flex-direction: column;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.multi-select-item {
    margin-bottom: 5px;
    cursor: pointer;
}

.multi-select-item:last-child {
    margin-bottom: 0;
}

:root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background: var(--bg);
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  color: var(--solid);
  font-size: 2.5rem;
  margin-top: 6rem;
}
.btn {
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--primary);
  border: .2em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  line-height: 2em;
  cursor: pointer;
}
.dot {
  content: '';
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}
.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: var(--primary);
  border-radius: 1em;
  border: .25em solid var(--solid);
  box-shadow: 0 0 .7em var(--solid),
        0 0 2em var(--primary);
}
.btn:hover .dot,
.btn:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}
@keyframes atom {
  0% {transform: translateX(0) rotate(0);}
  30%{transform: translateX(var(--tr-X)) rotate(0);}
  50% {transform: translateX(var(--tr-X)) rotate(180deg);}
  80% {transform: translateX(0) rotate(180deg);}
  100% {transform: translateX(0) rotate(360deg);}
}


